<clr-modal #deleteTicketModal [(clrModalOpen)]="opened">
  <h3 class="modal-title">Delete ticket</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete this this ticket ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="deleteTicketConfirmation()">Yes</button>
  </div>
</clr-modal>

<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Posted by <i>{{ticket.postedBy}}</i> the <i>{{ticket.postTime.getDate() | date:'shortDate' }}
        at {{ticket.postTime.getTime() | date: 'shortTime'}}</i>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ticket.title}}
        </div>
        <div class="card-text">
          {{ticket.content}}
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary">Edit</button>
        <button class="btn btn-sm btn-warning-outline" (click)="deleteTicket()">Delete</button>
      </div>
    </div>
  </div>
</div>
