<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Posted by <i>{{ticket.postedBy}}</i> the <i>{{ticket.postTime.getDate() | date:'shortDate' }}
        at {{ticket.postTime.getTime() | date: 'shortTime'}}</i>
      </div>
      <div class="card-block">
        <div class="card-title">
          {{ticket.title}}
        </div>
        <div class="card-text">
          {{ticket.content}}
        </div>
      </div>
    </div>
  </div>
</div>
